<p id="notice"><%= notice %></p>

<p>
  <strong>New event title:</strong>
  <%= @calendar.New_Event_Title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendar.Location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @calendar.Date %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @calendar.Starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @calendar.Ends %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @calendar.Notes %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
